.App {
  text-align: center;
}

.App-logo {
  height: auto;
  width: 100%;
  max-width: 600px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profiles-row {
  display: flex;
  justify-content: space-around; /* 或者使用 space-between, center等来调整间距 */
}

/* 你可能还想为每个Profile组件添加一些边距，以便它们之间有一些空间 */
.profile {
  margin: 0 10px; /* 举例，根据你的需要调整数值 */
}